<div class="container-geral">

  <div *ngIf="!mostrarFormulario">
    <div class="cabecalho">
      <h2>Lista de Professores</h2>
      <button class="btn-verde" (click)="abrirFormulario()">+ Novo Professor</button>
    </div>

    <table class="tabela">
      <thead>
        <tr>
          <th>ID</th>
          <th>Nome</th>
          <th>Ações</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let prof of listaProfessores">
          <td>{{ prof.idProfessores }}</td>
          <td>{{ prof.nome }}</td>
          <td class="acoes-coluna">
            <button class="btn-azul" (click)="editar(prof)">Editar</button>
            <button class="btn-vermelho" (click)="deletar(prof.idProfessores)">Excluir</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="mostrarFormulario" class="area-formulario">
    <h2>Cadastrar Professor</h2>
    
    <form [formGroup]="formulario" (ngSubmit)="salvar()">
      
      <div class="campo">
        <label>Nome:</label>
        <input type="text" formControlName="nome" placeholder="Nome do Professor">
      </div>

      <div class="botoes">
        <button type="submit" class="btn-verde" [disabled]="formulario.invalid">Salvar</button>
        <button type="button" class="btn-cinza" (click)="cancelar()">Cancelar</button>
      </div>
    
    </form>
  </div>

</div>