<div class="container-geral">

  <div *ngIf="!mostrarFormulario">
    <div class="cabecalho">
      <h2>Lista de Alunos</h2>
      <button class="btn-verde" (click)="exibirFormulario()">+ Novo Aluno</button>
      
    </div>

    <table class="tabela">
      <thead>
        <tr>
          <th>Nome Completo</th>
          <th>CPF</th>
          <th>Email</th>
          <th>Telefone</th>
          <th>Ações</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let aluno of listaAlunos">
          <td>{{ aluno.nomeCompleto }}</td>
          <td>{{ aluno.cpf }}</td>
          <td>{{ aluno.email }}</td>
          <td>{{ aluno.telefone }}</td>
          <td class="acoes-coluna">
            <button class="btn-azul" (click)="editar(aluno)">Editar</button>
            <button class="btn-vermelho" (click)="deletarAluno(aluno.id)">Excluir</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="mostrarFormulario" class="area-formulario">
    <h2>Cadastrar Novo Aluno</h2>
    
    <form [formGroup]="alunoForm" (ngSubmit)="salvarAluno()">
      
      <div class="campo">
        <label>Nome Completo:</label>
        <input type="text" formControlName="nomeCompleto" placeholder="Digite o nome completo">
      </div>

      <div class="campo">
        <label>Data de Nascimento:</label>
        <input type="date" formControlName="dataNascimento">
      </div>

      <div class="campo">
        <label>CPF:</label>
        <input type="text" formControlName="cpf" placeholder="000.000.000-00">
      </div>

      <div class="campo">
        <label>Endereço:</label>
        <input type="text" formControlName="endereco" placeholder="Rua, número, bairro">
      </div>

      <div class="campo">
        <label>Telefone:</label>
        <input type="text" formControlName="telefone" placeholder="(00) 00000-0000">
      </div>

      <div class="campo">
        <label>E-mail:</label>
        <input type="email" formControlName="email" placeholder="exemplo@email.com">
      </div>

      <div class="botoes">
        <button type="submit" class="btn-verde" [disabled]="alunoForm.invalid">Salvar</button>
        <button type="button" class="btn-cinza" (click)="cancelar()">Cancelar</button>
      </div>
    
    </form>
  </div>

</div>